@charset "ISO-8859-1";
/*CONFIG */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-light" !important;
    background-color: #F4F4F4;
}

/*FONTS*/


@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*RESPONSIVE*/

/*CSS GENERALE*/

.titre-page {
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-paie {
    margin-left: 5%;
    margin-right: 5%;
}

/*HOME*/

.flex-home
{
    display: flex;
    align-items: flex-start;
}

/*HEADER*/

header {
    background-color: #F4F4F4;
    box-shadow: 0px 3px 6px #bebebe;
}

.wrap-nav {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
}

.voiture-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 43px;
}

.titre-nav 
{
    margin-right: 43px;
}

.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 43px;
}

.header-infoconnexion {
    width: 130px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 5px;
    border: solid #385B64;
    background-color: #385B64;
}

.voiture {
    width: 160px;
}

.text-nav {
    display: flex;
    align-items: center;
    font-family: "Poppins-light";
    font-size: 25px;
    justify-content: center;
    flex-wrap: wrap;
}


.text-nav > ul > li {
list-style: none;
margin: 5px;
display: block;
font-size: 22px;
}

.text-nav > ul > li > a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.nav-img {
    opacity: .7;
}

.nav-img:hover {
    opacity: 1;
}

.effect {
    position: relative;
}

.effect::after {
    content: "";
    display: block;
    position: absolute;
    /*width: 0%;*/
    width: 100%;
    transform: scale(0);
    height: 1px;
    background: #ffff;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.effect:hover::after {
    transform: scale(1);
    /*width: 100%;*/
}



/*CONNEXION & INSCRIPTION*/

.border-connexion {
    width: 35%;
    height: 500px;
    margin: 145px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.btn-formulaire {
    display: block;
    border: 1px solid #385B64;
    color: #fff;
    background: #385B64;
    border-radius: 10px;
    margin: 10px auto;
    width: 135px;
    height: 40px;
}

.lien-connexion {
    text-decoration: none;
    color: black;
    margin-bottom: 12px;
    display: block;
}

    .lien-connexion:hover {
        color: #F57355;
    }

.margin-label {
    margin-bottom: 5px;
}

.champ-email {
    margin-bottom: 20px;
}

.champ-mdp {
    margin-bottom: 10px
}

.sign-in {
    display: block;
    text-align: center;
}

.img-pouce {
    width: 170px;
    display: block;
    bottom: 10px;
    margin: 10px auto;
}


.margin-input-inscription {
    margin-bottom: 15px;
}

.margin-input-mdp {
    margin-bottom: 40px;
}

.margin-btn-formulaire {
    margin-bottom: 20px;
}

.border-inscription {
    height: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.container-inscription {
    display: flex;
    width: 60%;
    margin: 130px auto;
    align-items: center;
    justify-content: center;
}

.item {
    width: 50%;
}

    .item img {
        width: 100%;
    }

/* BANDEAU */

.bandeau a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.bandeau {
    background: #385B64;
    width: 300px;
    text-align: left;
    padding-left: 42px;
    padding-top: 30px;
    height: 1000px;
    margin-bottom: inherit;
    box-shadow: #bebebe 6px 3px 6px;
}

/* CONNEXION */

.width100 {
    width: 100%;
}


.container-connexion img {
    width: 200px;
    display: block;
    margin: auto;
}

/*CONTENU*/

.conteneur
{
    width: 100%;
}

/* EMPLOYE */

.container-employe {
    width: 50%;
    margin: 0 auto;
}

.border-employe {
    width: 90%;
    height: 630px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.margin-label-info {
    margin-bottom: 2px;
    margin-top: 10px;
}

.bouton-form {
    text-align: -webkit-center;
    margin-top: 30px;
}

.input-bouton {
    color: #fff;
    background-color: #FF745C;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.input-bouton-modifier {
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.lien-btn-modifier {
    color: #fff;
    text-decoration: none;
}

.lien-btn-modifier:hover
{
    color: #fff;
}

/*ACCUEIL*/

.titre-accueil {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.p-accueil {
    font-size: 20px;
}

.titre-actualite {
    margin-left: 19%;
    margin-top: 50px;
    width: 20%;
    color: #FF745C
}

.img-soon {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.color-name {
    color: #FF745C;
}

.div-accueil {
    width: 62%;
    margin: 0 auto;
}

/*PAIE*/

.border-paie {
    width: 35%;
    height: 85px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.rechercher-flex {
    justify-content: space-evenly;
    display: flex;
}

.input-paie {
    width: 85%!important;
}

.container-paie {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.titre-paie {
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-rechercher-paie {
    background: inherit;
    border: inherit;
}

.img-rechercher {
    opacity: .7;
}

.img-rechercher:hover {
    opacity: 1;
}

.card-bod {
    font-size: 15px;
    width: 23% !important;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%) !important;
    transition: all 0.3s ease-in-out;
}

.card-bod:hover 
{
    background-color: #F9F9F9;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.fleche-card
{
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.fleche-card:hover {
    opacity: 1;
    cursor: pointer;
}


.border {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.card-titre-paie
{
    text-align: center;
}

.card-paie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.card-titre-montant
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-paie {
    color:#385B64;
    font-weight: 600;
}